fastapi
uvicorn
gunicorn
python-multipart
pydantic
groq
langchain-community
langchain-core
langchain-text-splitters
sentence-transformers
faiss-cpu
numpy
pypdf
requests
python-dotenv


